<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>90 days Challenge - Console</h1>
    <a href="day1">Day1</a>
    <a href="day2/dateCalculator">Day2 - Date Calculator </a>
    <a href="day2/jellyfish">Day 2 - JellyFish </a>
    <!-- <p>
      var i = 1;  <br>
      var projects = []; <br>
      while(i < 90){ <br>
        projects.push(i); <br>
        console.log(projects); <br>
        i++; <br>
      }
    </p> -->
  </body>

</html>
