<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>90 days Challenge - Console</h1>
    <a href="day1"> Day 1 </a> <br>
    <a href="day2/dateCalculator"> Day 2 - Date Calculator </a> <br>
    <a href="day2/jellyfish"> Day 2 - JellyFish </a> <br>
    <a href="day3/wiki"> Day 3 - Wiki Search Api </a> <br>
    <a href="day3/rocket"> Day 3 - Back Home! Fast! </a> <br>
    <!-- <p>
      var i = 1;  <br>
      var projects = []; <br>
      while(i < 90){ <br>
        projects.push(i); <br>
        console.log(projects); <br>
        i++; <br>
      }
    </p> -->
  </body>

</html>
