<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>90 days Challenge - Console</h1>
    <a href="day1"> Day 1 - Website Setup </a> <br>
    <a href="day2/dateCalculator"> Day 2 - Date Calculator </a> <br>
    <a href="day2/jellyfish"> Day 2 - JellyFish </a> <br>
    <a href="day3/wiki"> Day 3 - Wiki Search Api </a> <br>
    <a href="day3/rocket"> Day 3 - Back Home! Fast! </a> <br>
    <a href="day4/donationBox"> Day 4 - Donation Box </a> <br>
    <a href="day5/snow"> Day 5 - Snow Simulation </a> <br>
    <a href="day6/matchingGame"> Day 6 - Matching Game </a> <br>
    <a href="day7/diastic-Machine"> Day 7 - Diastic Machine </a> <br>
    <a href="day8/create-story"> Day 8 - Create Your Own Story </a> <br>
    <a href="day9/youtube/search.html"> Day 9 - Kpop! </a> <br>
    <a href="day9/foulFilter"> Day 9 - Bad Words Filter </a> <br>
    <a href="day10/binary_tree"> Day 10 - Binary Tree </a> <br>
    <a href="day11/Movement"> Day 11 - Gravity Ball </a> <br>
    <a href="day12/genetic-algorithm"> Day 12 - Genetic Algorithm - Color Figuring </a> <br>
    <a href="day13/space_shooter"> Day 13 - Game: Space Shooter </a> <br>
    <a href="https://io-apps.herokuapp.com/"> Day 14 - Simple multiplayer: Moving Square </a> <br>
    <a href="day15/musicBox"> Day 15 - Music Box </a> <br>
    <a href="day16/findRestaurant"> Day 16 - Eat what? </a> <br>
    <a href="day17/timeCounter"> Day 16 - Time Counter </a> <br>

    <!-- <p>
      var i = 1;  <br>
      var projects = []; <br>
      while(i < 90){ <br>
        projects.push(i); <br>
        console.log(projects); <br>
        i++; <br>
      }
    </p> -->
  </body>

</html>
